In [1]:
# Dependencies
import numpy as np

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [5]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June.
date_str = '06'
temps = session.query(Measurement.tobs).filter(func.strftime("%m", Measurement.date) == date_str).all()

In [6]:
#  3. Convert the June temperatures to a list.
    #Note: temps is already a list
len(temps)

1700

In [7]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
import pandas as pd 
temps_df = pd.DataFrame(temps)

In [8]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
temps_df.describe()

              tobs
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [9]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
date_str = '12'
dec_temps = session.query(Measurement.tobs).filter(func.strftime("%m", Measurement.date) == date_str).all()

In [10]:
# 7. Convert the December temperatures to a list.
# dec_temps already a list
len(dec_temps)

1517

In [11]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dec_temps_df = pd.DataFrame(dec_temps)

In [12]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_temps_df.describe()

              tobs
count  1517.000000
mean     71.041529
std       3.745920
min      56.000000
25%      69.000000
50%      71.000000
75%      74.000000
max      83.000000

In [21]:
test = session.query(Measurement.prcp).filter(func.strftime("%m", Measurement.date) == date_str).all()

(0.04,)
(0.0,)
(0.0,)
(0.0,)
(0.0,)

In [19]:
df

                                                      0
0     <sqlalchemy.ext.automap.measurement object at ...
1     <sqlalchemy.ext.automap.measurement object at ...
2     <sqlalchemy.ext.automap.measurement object at ...
3     <sqlalchemy.ext.automap.measurement object at ...
4     <sqlalchemy.ext.automap.measurement object at ...
...                                                 ...
1512  <sqlalchemy.ext.automap.measurement object at ...
1513  <sqlalchemy.ext.automap.measurement object at ...
1514  <sqlalchemy.ext.automap.measurement object at ...
1515  <sqlalchemy.ext.automap.measurement object at ...
1516  <sqlalchemy.ext.automap.measurement object at ...

[1517 rows x 1 columns]